body {
	margin: 0;
	background-color: GhostWhite;
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	background-image: url(https://farm1.staticflickr.com/616/20716082053_06499aa906_b.jpg);
	background-size: cover;
	}
	


